//google fonts
$font-sans: 'Sono', sans-serif;

// Override default variables before the import
$primary: #254559;
$secondary: #49798C;
$success: #8C752E;
$info: #D9BCA3;
$warning: #592525;
$danger: #735E20;
$light: #F2EEEB;
$dark: #0A0A0D;