//google fonts
$font-sans: 'Sono', sans-serif;

// Override default variables before the import
$primary: #49798C;
$secondary: #D9BEA7;
$success: #9C8F31;
$info: #bfd4d9;
$warning: #b8c924;
$danger: #BF9B8E;
$light: #F2EAE4;
$dark: #254559;