@use '../../styles/vars' as v;

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    
    &-title{
        margin: 14rem 1rem 6rem 1rem;
        overflow: hidden;
        display: flex;
        font-weight: 800;
        font-size: 2.7rem;

        &-dark{
            color: v.$info;
        }
        &-light{
            color: v.$secondary;
        }
        
    }
    
    /* Media Queries => gestion du responsive */
    @media screen and (max-width: 370px) {
    &-title {
        font-size: 1.5rem;
    }
    }

    &-description{
        margin: 8rem 8rem 8rem 8rem;
        text-align: justify;
        color: v.$secondary;
    }
    @media screen and (max-width: 600px) {
        &-description {
            margin: 6rem 2rem 2rem 2rem;
        }
        }
    &-question{
        margin: 8rem 2rem 8rem 2rem;
        text-align: justify;
        color: v.$secondary;

    }
    &-icon{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 1rem 2rem 5rem 2rem;
        justify-content: space-between;
       
        &-section{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 3rem;
            text-align: center;
        }

        &-subtitle{
            color: v.$secondary;
        }
        &-item{
            margin: .5rem;
            &-body{
                background-color: none;
            }
            &-title{
                font-size: 12px;
            }
            &-image{
                width: auto;
                height: 4rem;
            }
        }
        &-item:hover{
            margin: .5rem;
            opacity: 30%;
            transition-duration: 0.4s;
            &-title{
                font-size: 12px;
            }
            &-image{
                width: auto;
                height: 4rem;
            }
        }
    }
    &-progress{
        position: -webkit-sticky;
        position: sticky;
        bottom: 1rem;
    }
}

.button{
    position: absolute;
    bottom: 1rem;

}
