@use '../../styles/vars' as v;

.Resume{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        margin: 3rem;
    }
    &-image{
        width: 18rem;
        margin: 2rem;
    }
    &-icon{
        display: inline-flex;
        &-item{
            width: 3rem;
            margin: .5rem;
        }
    }
    &-list{
        margin: 3rem;
        text-align: justify;
        width: 40rem;
    }

    @media screen and (max-width: 600px) {
        &-list{
            width: auto;
        }
    }

    &-end{
        margin: 2rem;
        text-align: justify;
        color: v.$secondary;
    }
    &-download{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        margin-bottom: 5rem;
        color: v.$secondary;
        
        &-item{
            margin: 1rem;
        }
    }
}