.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        margin: 3rem;
    }

    &-form{
        width: 50rem;
    }
    @media screen and (max-width: 800px) {
        &-form{
            width: auto;
        }
    }

}