@use '../styles/vars' as v;

.App {
  
  &-light{
    font-family:  v.$font-sans;
    background-color: v.$light;
  }
  &-dark{
    font-family:  v.$font-sans;
    background-color: v.$primary;
  }

  &-icon-group{
    position: fixed;
    right: 0;
    margin: .5rem ;
    font-size: 1.4rem;
    color: v.$secondary;
    background-color: v.$info;
    padding: .5rem;
    border-radius: 50px;
    z-index: 100;
  }
 
}
