.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    
    &-title{
        margin: 8rem 1rem 8rem 1rem;
        overflow: hidden;
        display: flex;
    }

    &-description{
        margin: 8rem 2rem 8rem 2rem;
    }
    &-question{
        margin: 8rem 2rem 8rem 2rem;
    }
    &-experience{
        margin: 2rem;
        &-list{
            margin-bottom: 4rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
    
        &-card{
            margin-bottom: 2rem;
        }
    }
}
