@use '../../styles/vars' as v;

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 85%;

    &-light{
        background-color: v.$light;
    }

    &-dark{
        background-color: v.$primary;
    }
    
    &-icon{
        display: inline-flex;
    }

    &-text{
        font-size: small;
        color: v.$secondary;
    }

}