@use '../../styles/vars' as v;

.Footer{
    background-color: v.$info;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    
    &-icon{
        display: inline-flex;
    }

    &-text{
        font-size: small;
    }
}